@import "infinite";

.wp-load-more__button {

	.qllm-load-more {
		display: inline-flex;
		align-items: center;
		gap: var(--wp--preset--spacing--30);
	}

	.qllm-loading {
		display: none;
	}

	&.loading {

		.qllm-loading {
			display: inline-flex;
		}

		.qllm-load-more {
			display: none;
		}
	}

	&__no-more-posts {
		pointer-events: none;
		opacity: 0.5;
	}

	+ .wp-load-more__button__no-more-posts {
      /* Hidden while the load more button (prev sibling) exists */
		display: none;
	}
}
